<!-- Contacto -->

<section id="contacto" style="background-color: #F1F6F9;">
  <hr style="border: 1px solid black; margin-top: 0px;">
  <div class="container">
    <h2 style="align-items: center;">Contacto</h2>
    <br>
    <div class="row">


        <div class="col-md-6">
        <h2>Información de contacto</h2>
        <p>Si lo prefieres, también puedes contactarme directamente a través de estos medios:</p>
        <ul class="list-unstyled">
          <li><i class="fa fa-envelope-o"></i> <a href="mailto:ramirolopez04902@gmail.com">ramirolopez04902@gmail.com</a></li>
          <li><i class="fa fa-phone"></i> <a href="tel:+542615460920">+542615460920</a></li>

        </ul>

        <!-- <p>Envíame un mensaje y te responderé lo antes posible.</p>
        <form action="#" method="post" role="form">
          <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Tu nombre" required>
          </div>
          <div class="form-group">
            <label for="email">Correo electrónico</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Tu correo electrónico" required>
          </div>
          <div class="form-group">
            <label for="message">Mensaje</label>
            <textarea class="form-control" rows="5" id="message" name="message" placeholder="Escribe tu mensaje aquí" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary" style="margin-bottom: 10px;">Enviar</button>
        </form> -->
      </div>

    </div>
  </div>
</section>
