<head>
  <title>Portafolio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<!-- Inicio -->

<section id="inicio" class="py-5 text-center" style="background-image: url(./assets/banner.png);background-position: center;
background-repeat: no-repeat;
background-size: cover;
 ">
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="color: #212A3E; font-weight: 50px;">
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
        <!-- <h1 class="display-4">Bienvenido a mi portafolio</h1>
        <p class="lead">Aquí encontrarás información sobre mi experiencia, habilidades y proyectos.</p>

          <img src="./assets/banner.png" style="margin: 0%;"> -->


      </div>
    </div>
  </div>
</section>

<!-- Sobre mi -->

<section id="yo" class="py-5 bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-md-6" style="color: #F1F6F9">
        <h2>Acerca de mí</h2>
        <p>Me llamo <b style="font-size: 20px;">{{persona.nombre}} {{persona.apellido}}</b></p>
        <p>Me especializo en el desarrollo de aplicaciones web utilizando tecnologías como HTML, CSS, JavaScript, Angular, MongoDB, MySQL, NodeJs y Java.</p>
        <p>Me considero una persona proactiva, con capacidad de trabajo en equipo y con facilidad para adaptarme a diferentes situaciones y entornos.</p>

      </div>
      <div class="col-md-6">
        <img src="./assets/fotito.jpeg" alt="Foto de perfil" class="img-fluid rounded-circle contenedorAnimado">
      </div>
    </div>
  </div>
</section>
